/* ── Light Theme (default) ── */
:root,
[data-theme='light'] {
	--color-bg: #ffffff;
	--color-bg-secondary: #e9e0f1;
	--color-bg-input: #ffffff;

	--color-text: #222222;
	--color-text-muted: #666666;
	--color-text-dim: #585858;

	--color-border: #e0e0e0;
	--color-border-input: #3d3d44;

	--color-accent: #9146ff;
	--color-accent-hover: #772ce8;

	--color-error: #ff4757;
	--color-error-bg: #fff0f0;

	--color-header-bg: #9147ff;
	--color-header-text: #ffffff;

	--color-red: #eb0400;

	--color-notif-icon: #0f0f0f;
	--color-notif-active: #ff8800;
    --color-link: #1c7cd6;
}

/* ── Dark Theme ── */
[data-theme='dark'] {
	--color-bg: #1a1a2e;
	--color-bg-secondary: #16213e;
	--color-bg-input: #16213e;

	--color-text: #e0e0e0;
	--color-text-muted: #aaaaaa;
	--color-text-dim: #aeadad;

	--color-border: #2a3a5c;
	--color-border-input: #3d4a6b;

	--color-accent: #9146ff;
	--color-accent-hover: #a855f7;

	--color-error: #f87171;
	--color-error-bg: #3d1f2a;

	--color-header-bg: #0f0f23;
	--color-header-text: #e0e0e0;

	--color-red: #eb0400;

	--color-notif-icon: white;
	--color-notif-active: #ff8800;

    --color-link: #45a1ff;

}

.custom-scrollbar {
	scrollbar-color: var(--color-text-dim) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: var(--color-text-dim);
	border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: var(--color-text-muted);
}
